
#root {
  margin: 0 auto;
  width: 100%;
  text-align: left;
}

pre {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
